<a href="https://colab.research.google.com/github/ronin207/Python-Analytics/blob/main/Lecture06.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## **NUS Python for Analytics Lecture 06**

#### **Data Manipulation and Analysis with Pandas**

<ul>
  <li>Pandas DataFrames and Series</li>
  <li>Data Manipulation</li>
  <li>Filtering Data</li>
</ul>

#### Required Assignment 6.2: Case Study - Patient Arrivals in Singapore's Major Public Hospitals

Case Questions
<ol>
<li>Do male Singaporeans have preferences over different hospitals to attend in case of an emergency? Please remember to delete the patient visits to (KKH in the dataset KKH is a Women's and Children's hospital.) If an emergency happens, the male patient will basically not be sent to KKH.</li>
<li>Are the patients’ waiting time distributions similar across different public hospitals?</li>
<li>To make a staffing plan, which decides the number of nurses and doctors needed to serve patients, a deep understanding of patient arrivals is crucial. The staffing plan in practice will be made on an hourly basis (24 intervals) every day. Thus, please create a new column, <code>REGIS_HOUR</code> in df. Moreover, the patients’ arrival pattern may vary by the day of a month. Please also create a new column, <code>REGIS_DAY</code> in df.</li>
<li>Find out the average number of patient arrivals in each hour of a day. To answer this question, we assume the arrival pattern is similar across different days and only utilise the data in 2011.</li>
<li>The assumption that the arrival pattern is similar across different days is too strong to be true. Let's discuss the weekday effect (including Saturday and Sunday) on the arrival pattern of patients. Please create a <code>WEEKDAY</code> column in df. For example, if a patient's arrival occurred on 01/10/2011, the corresponding value in <code>WEEKDAY</code> column is Saturday.</li>
<li>Using the <code>WEEKDAY</code> column, please find out the average number of patient arrivals in each hour by weekday categories. Your answer should be a 7-by-24 table.</li>
</ol>

#### **Case Study - Patient Arrivals in Singapore's Major Public Hospitals**

***Background***: Understanding demand is always a key issue in business operations. In healthcare management, patient arrivals are the key to affecting the efficiency of the hospital/clinic operations. Without a sufficient number of healthcare professionals to serve patients, the consequence is a long waiting time for patients; thus their lives may be jeopardized. Increasing the number of healthcare professionals, without a doubt, can build a very efficient healthcare system with a shorter waiting time, thereby gaining the great satisfaction of patients. However, the corresponding labor cost will become a big burden of the operations. From a managerial point of view, it is importance to balance the operation cost and patients’ satisfaction. To achieve this, the first task is being able to know the pattern of patient arrivals as accurate as possible.<br>
The <code>EDdata.csv</code> contains Singaporeans’ arrivals at some major public hospitals’ emergency departments (EDs) in Oct 2011 and April 2012. Those hospitals are Tan Tock Seng Hospital, Singapore General Hospital, National University Hospital, Changi General Hospital, Alexandra Hospital, Khoo Teck Puat Hospital, and KK Women's and Children's Hospital. The data were retrieved from each hospital’s data warehouse system and were a random sample from all the patients who arrived at those hospitals’ EDs during a study period. Please import <code>EDdata.csv</code> first and check the data.

In [2]:
import pandas as pd

df = pd.read_csv("EDdata_new.csv")  
df.head(10)

     Case Hospital_Name  REGIS_DATE  ...   Age  Gender     Race
0   92408          KTPH    7/4/2012  ...  40.0       M  Chinese
1   54452           KKH   7/10/2011  ...   0.0       M  Chinese
2   28303           CGH   3/10/2011  ...  33.0       M   Indian
3  121169           SGH  16/10/2011  ...  53.0       F    Malay
4  146488          TTSH  24/10/2011  ...  23.0       M   Others
5   93761          KTPH   11/4/2012  ...  21.0       M  Chinese
6   95762          KTPH  16/04/2012  ...  47.0       M  Chinese
7  149941          TTSH    2/4/2012  ...  48.0       F   Others
8   23665            AH  29/10/2011  ...  43.0       M    Malay
9   12883           SGH  11/10/2011  ...  44.0       M    Malay

[10 rows x 11 columns]

In [3]:
# You can assign a column in dataset as the row index labels
df = pd.read_csv("EDdata_new.csv", index_col = "Case")  
df.head(10)

       Hospital_Name  REGIS_DATE REGIS_TIME  ...   Age Gender     Race
Case                                         ...
92408           KTPH    7/4/2012    9:48:33  ...  40.0      M  Chinese
54452            KKH   7/10/2011   16:21:05  ...   0.0      M  Chinese
28303            CGH   3/10/2011    3:57:45  ...  33.0      M   Indian
121169           SGH  16/10/2011    4:08:47  ...  53.0      F    Malay
146488          TTSH  24/10/2011    3:09:47  ...  23.0      M   Others
93761           KTPH   11/4/2012    0:13:43  ...  21.0      M  Chinese
95762           KTPH  16/04/2012   23:14:41  ...  47.0      M  Chinese
149941          TTSH    2/4/2012   10:12:32  ...  48.0      F   Others
23665             AH  29/10/2011   13:43:40  ...  43.0      M    Malay
12883            SGH  11/10/2011    6:23:14  ...  44.0      M    Malay

[10 rows x 10 columns]

In [4]:
# Identify first row
df.loc[92408]

Hospital_Name        KTPH
REGIS_DATE       7/4/2012
REGIS_TIME        9:48:33
reg_sec             35313
Triage Time       9:58:12
triage_sec          35892
Triage_Class           P2
Age                    40
Gender                  M
Race              Chinese
Name: 92408, dtype: object

In [5]:
df.shape

(41832, 10)

In [6]:
df.dtypes

Hospital_Name     object
REGIS_DATE        object
REGIS_TIME        object
reg_sec            int64
Triage Time       object
triage_sec         int64
Triage_Class      object
Age              float64
Gender            object
Race              object
dtype: object

In [7]:
df.reset_index(inplace=True)

In [8]:
df.iloc[0] # You can use the traditional row indexing to do indexing

Case                92408
Hospital_Name        KTPH
REGIS_DATE       7/4/2012
REGIS_TIME        9:48:33
reg_sec             35313
Triage Time       9:58:12
triage_sec          35892
Triage_Class           P2
Age                    40
Gender                  M
Race              Chinese
Name: 0, dtype: object

##### **Task 1**:<br> Do male Singaporeans have preferences over different hospitals to attend in case of an emergency? Please remember to delete the patient visits to (KKH in the dataset KKH is a Women's and Children's hospital.) If an emergency happens, the male patient will basically not be sent to KKH.

* Male Singaporeans

* Female Singaporeans

##### **Task 2**:<br>Are the patients’ waiting time distributions similar across different public hospitals?<br>
* To find the waiting time, there are two possible scenarios as follows:
  1. (Case 1) triage time is larger than registration time (normal cases)
  2. (Case 2) the triage will be conducted after midnight. However, the "sec" columns are always computed using <code>00:00:00</code> as the origin

* Please filter the records with waiting time larger than 300 minutes.

##### **Task 3**:<br>To make a staffing plan, which decides the number of nurses and doctors needed to serve patients, a deep understanding of patient arrivals is crucial. The staffing plan in practice will be made on an hourly basis (24 intervals) every day. Thus, please create a new column, <code>REGIS_HOUR</code> in df. Moreover, the patients’ arrival pattern may vary by the day of a month. Please also create a new column, <code>REGIS_DAY</code> in df.

##### **Task 4**:<br>Find out the average number of patient arrivals in each hour of a day. To answer this question, we assume the arrival pattern is similar across different days and only utilise the data in 2011.

##### **Task 5**:<br>The assumption that the arrival pattern is similar across different days is too strong to be true. Let's discuss the weekday effect (including Saturday and Sunday) on the arrival pattern of patients. Please create a <code>WEEKDAY</code> column in df. For example, if a patient's arrival occurred on 01/10/2011, the corresponding value in <code>WEEKDAY</code> column is Saturday.

##### **Task 6**:<br>Using the <code>WEEKDAY</code> column, please find out the average number of patient arrivals in each hour by weekday categories. Your answer should be a 7-by-24 table.