<a href="https://colab.research.google.com/github/ronin207/Python-Analytics/blob/main/Lecture05.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## **NUS Python for Analytics Lecture 05**

Reinforce Lectures 01 - 04 foundational knowledge through these 36 exercises.

In [1]:
!pip install exbook

Requirement already satisfied: exbook in /usr/local/lib/python3.7/dist-packages (0.0.3)

In [2]:
from exbook import book as eb
len(eb)

36

In [3]:
print(eb[0])

Define a function with two strings to be the input arguments. The output is
the summation of the numerical values of the input strings. For example, if
the input strings are "3.5"and "2.7", then the output is 6.2, as a floating
point number.

        Input1: str Input2: str Output: float
Test 1:         3.5         2.7           6.2

Data Type Conversion: Easy

In [4]:
def string_integer_conversion(string1, string2):
  
  # Converts 2 strings into floats before adding them together
  string_integer_sum = float(string1) + float(string2)
  
  return string_integer_sum

string_integer_conversion("3.5", "2.7")

6.2

In [5]:
eb[0].check(string_integer_conversion, cheat=True)

        Input 1: str Input 2: str Your output Correct output: float Correct
Test 1:          3.5          2.7         6.2                   6.2    True
Test 2:          1.2            5         6.2                   6.2    True
Test 3:            2            4         6.0                     6    True

You passed 3 of the 3 tests.
The solution is correct

In [6]:
print(eb[1])

Write a function to determine whether an integer is a palindrome. An integer
is a palindrome when it reads the same backward as forward. For example,
121 is a palindrome so the output is True, 10 is not a palindrome so the
output is False.

        Input1: int Output: bool
Test 1:         151         True
Test 2:          -5        False

Palindrome: Easy

In [7]:
def palindrome(test_number):
  
  # Declare and assign the string type of test_number before reversing
  string_test_number = str(test_number)
  string_test_number_reversed = string_test_number[::-1]
  
  # Check if the reverse and original is true
  if string_test_number == string_test_number_reversed:
    return True
  else:
    return False

print(palindrome(151))
print(palindrome(-5))

True
False

In [8]:
eb[1].check(palindrome, cheat=True)

        Input 1: int Your output Correct output: bool Correct
Test 1:          151        True                 True    True
Test 2:       -26000       False                False    True
Test 3:    234565432        True                 True    True
Test 4:            1        True                 True    True
Test 5:          101        True                 True    True
Test 6:           -5       False                False    True
Test 7:       234321       False                False    True

You passed 7 of the 7 tests.
The solution is correct

In [9]:
print(eb[2])

Write a function with a given argument n to return a list containing all
positive integers no larger than n, and these integers can be divided by 7
but can not be divided by 5. For example, if n=50, then the returned list
is [7, 14, 21, 28, 42, 49].

        Input1: int             Output: list
Test 1:          14                  [7, 14]
Test 2:          20                  [7, 14]
Test 3:          50  [7, 14, 21, 28, 42, 49]

Seven And Five: Easy

In [10]:
def sevens(n):
  
  # Declare an empty list
  sevens_array = []
  
  # Loop through till n
  # Check if i is divisible by 7 and not divisible by 5
  # Append if true
  for i in range(n + 1):
    if i % 7 == 0 and i % 5 != 0:
      sevens_array.append(i)
  
  return sevens_array

print(sevens(14))
print(sevens(20))
print(sevens(50))

[7, 14]
[7, 14]
[7, 14, 21, 28, 42, 49]

In [11]:
eb[2].check(sevens, cheat=True)

        Input 1: int  ... Correct
Test 1:           14  ...    True
Test 2:           20  ...    True
Test 3:           35  ...    True
Test 4:           50  ...    True
Test 5:          100  ...    True
Test 6:          120  ...    True
Test 7:          150  ...    True

[7 rows x 4 columns]

You passed 7 of the 7 tests.
The solution is correct

In [12]:
print(eb[3])

Write a function to determine if a given positive integer n is a prime
number.For example, 37 is a prime number so the output is True, 10 is not
so the output is False.

        Input1: int Output: bool
Test 1:           6        False
Test 2:          47         True
Test 3:          53         True
Test 4:          61         True

Prime Number: Easy

In [13]:
def prime_number(n):
  
  # n has to be more than 1
  # Loop from 2 to n - 1
  # Check if n is divisible by i
  # Return true if it is not divisible
  if n > 1:
    for i in range(2, n):
      if n % i == 0:
        return False
      return True
  
print(prime_number(6))
print(prime_number(47))
print(prime_number(53))
print(prime_number(61))

False
True
True
True

In [14]:
eb[3].check(prime_number, cheat=True)

         Input 1: int Your output Correct output: bool Correct
Test 1:             2        None                 True   False
Test 2:             3        True                 True    True
Test 3:             4       False                False    True
Test 4:             5        True                 True    True
Test 5:             6       False                False    True
Test 6:            39        True                False   False
Test 7:            47        True                 True    True
Test 8:            53        True                 True    True
Test 9:            65        True                False   False
Test 10:           61        True                 True    True
Test 11:           73        True                 True    True
Test 12:           81        True                False   False
Test 13:           93        True                False   False
Test 14:           97        True                 True    True

You passed 9 of the 14 tests.
The solution is incorrect

In [15]:
print(eb[4])

Given a positive integer n, write a function to return a list of prime
numbers that are no larger than n. For example, if n=20, then the returned
list is [2, 3, 5, 7, 11, 13, 17, 19].

        Input1: int                                  Output: list
Test 1:           1                                            []
Test 2:           2                                           [2]
Test 3:          30          [2, 3, 5, 7, 11, 13, 17, 19, 23, 29]
Test 4:          40  [2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37]

Prime List: Medium

In [16]:
def prime_list(n):
  
  # Declare an empty array
  prime_array = []
  
  # Returns an empty array if n = 1
  if n == 1:
    prime_array = []
  # Else returns an array with 2 as the sole element if n = 2
  elif n == 2:
    prime_array.append(2)
  # Print out all the prime numbers within the range if both conditions above do not meet
  else:
    prime_array = [i for i in range(2, n) if all(i % j != 0 for j in range(2, i-1))]

  return prime_array

print(prime_list(1))
print(prime_list(2))
print(prime_list(30))
print(prime_list(40))

[]
[2]
[2, 3, 5, 7, 11, 13, 17, 19, 23, 29]
[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37]

In [17]:
eb[4].check(prime_list, cheat=True)

        Input 1: int  ... Correct
Test 1:            1  ...    True
Test 2:            2  ...    True
Test 3:            3  ...   False
Test 4:           10  ...    True
Test 5:           20  ...    True
Test 6:           30  ...    True
Test 7:           40  ...    True
Test 8:           60  ...    True
Test 9:          100  ...    True

[9 rows x 4 columns]

You passed 8 of the 9 tests.
The solution is incorrect

In [18]:
print(eb[5])

A robot starts to move from the origin (0, 0) on a 2D plane. Given a squence
of moves, in terms of strings "L" for left, "R" for right, "U" for up, and
"D" for down, write a function to tell if the robot returns to the origin
(0, 0) after this sequence of moves. The output of the function is a boolean
value.

        Input1: str Output: bool
Test 1:          UD         True
Test 2:          LL        False

Robot: Easy

In [19]:
def move_sequence(moves):
  
  # Declare the start points as [0, 0]
  starting_coordinates = [0, 0]
  
  for i in moves:
    # 'U' and 'D' affects position index: 1 either +1 or -1
    if i == "U":
      starting_coordinates[1] += 1
    elif i == "D":
      starting_coordinates[1] -= 1
    # 'L' and 'R' affects position index: 0 either +1 or -1
    elif i == "R":
      starting_coordinates[0] += 1
    elif i == "L":
      starting_coordinates[0] -= 1

  # Check if the starting coordinates are back to [0, 0] -> Bool
  if starting_coordinates == [0, 0]:
    return True
  else:
    return False

print(move_sequence("UD"))
print(move_sequence("LL"))

True
False

In [20]:
eb[5].check(move_sequence, cheat=True)

         Input 1: str Your output Correct output: bool Correct
Test 1:            UD        True                 True    True
Test 2:            LL       False                False    True
Test 3:        LDRLUU       False                False    True
Test 4:  LLDUUUDDRLRR        True                 True    True
Test 5:          LRLR        True                 True    True

You passed 5 of the 5 tests.
The solution is correct

In [21]:
print(eb[6])

Given a list of numbers as the first input argument, write a function to
remove all items in the list that have the same value as the second input
argument. For example, if the first argument is [1, 3, 2, 2, 4, 2, 5] and
the second argument is given as 2, then the output is [1, 3, 4, 5], with
all 2s removed.

               Input1: list Input2: int  Output: list
Test 1:  [0, 1, 2, 3, 2, 5]           2  [0, 1, 3, 5]
Test 2:        [0, 1, 2, 3]           4  [0, 1, 2, 3]

Remove All: Easy

In [22]:
def remove_same(list_input, value_input):
  
  # Declares and empty list
  new_list = []
  # Extracts duplicates from the list and puts into another list
  [new_list.append(i) for i in list_input if i not in new_list]
  
  # Removes the remaining duplicate from new_list and returns the new_list
  if value_input in new_list:
    new_list.remove(value_input)
  
  return new_list

print(remove_same([0, 1, 2, 3, 2, 5], 2))
print(remove_same([0, 1, 2, 3], 4))

[0, 1, 3, 5]
[0, 1, 2, 3]

In [23]:
eb[6].check(remove_same, cheat=True)

                             Input 1: list  ... Correct
Test 1:                 [0, 1, 2, 3, 2, 5]  ...    True
Test 2:  [2, 3, 5, 6, 8, 3, 4, 3, 3, 4, 5]  ...    True
Test 3:                       [0, 1, 2, 3]  ...    True
Test 4:        [8, 7, 6, 5, 5, 4, 3, 3, 2]  ...    True

[4 rows x 5 columns]

You passed 4 of the 4 tests.
The solution is correct

In [24]:
print(eb[7])

Given two equal length lists of unique numbers, write a function to return
the number of items in these two lists that have the same values and are
at the same positions. For example, if these two lists are [1, 2, 3, 5] and
[2, 1, 3, 4], then the output is 1 because the same value 3 appears at the
same position 2 of both lists.

         Input1: list  Input2: list Output: int
Test 1:  [1, 2, 3, 5]  [2, 1, 3, 4]           1
Test 2:  [1, 2, 3, 5]  [5, 2, 3, 1]           2

Right Position: Easy

In [25]:
def position_value(list1, list2):
  
  # Declares a count variable to hold integer
  count = 0
  
  # Nested Loops across the 2 lists and compare if the same value appears at the same position
  # Appends count for number of times is found to be True
  for i in range(len(list1)):
    for j in range(len(list2)):
      if i == j and list1[i] == list2[j]:
        count += 1
  
  return count

print(position_value([1, 2, 3, 5], [2, 1, 3, 4]))
print(position_value([1, 2, 3, 5], [5, 2, 3, 1]))

1
2

In [26]:
eb[7].check(position_value, cheat=True)

        Input 1: list Input 2: list Your output Correct output: int Correct
Test 1:  [1, 2, 3, 5]  [2, 1, 3, 4]           1                   1    True
Test 2:  [1, 2, 3, 5]  [5, 2, 3, 1]           2                   2    True
Test 3:  [1, 2, 3, 5]  [1, 2, 3, 4]           3                   3    True
Test 4:        [1, 3]        [1, 2]           1                   1    True
Test 5:  [1, 2, 3, 5]  [5, 3, 1, 2]           0                   0    True

You passed 5 of the 5 tests.
The solution is correct

In [27]:
print(eb[8])

Given two equal length lists of unique numbers, write a function to return
the number of items in these two lists that have the same values but are at
the different positions. For example, if these two lists are [1, 2, 3, 5]
and [2, 1, 3, 4], then the output is 2 because the same values 1 and
2 appear at the different positions.

         Input1: list  Input2: list Output: int
Test 1:  [1, 2, 3, 5]  [2, 1, 3, 4]           2
Test 2:  [1, 2, 3, 5]  [1, 2, 3, 4]           0

Wrong Position: Easy

In [28]:
def position_value_wrong(list1, list2):
  
  # Declares a count variable to hold integer
  count = 0
  
  # Nested Loops across the 2 lists and compare if the same value appears at the wrong position
  # Appends count for number of times is found to be True
  for i in range(len(list1)):
    for j in range(len(list2)):
      if i != j and list1[i] == list2[j]:
        count += 1
  
  return count

print(position_value_wrong([1, 2, 3, 5], [2, 1, 3, 4]))
print(position_value_wrong([1, 2, 3, 5], [1, 2, 3, 4]))

2
0

In [29]:
eb[8].check(position_value_wrong, cheat=True)

        Input 1: list Input 2: list Your output Correct output: int Correct
Test 1:  [1, 2, 3, 5]  [2, 1, 3, 4]           2                   2    True
Test 2:  [1, 2, 3, 5]  [5, 2, 3, 1]           2                   2    True
Test 3:  [1, 2, 3, 5]  [1, 2, 3, 4]           0                   0    True
Test 4:        [1, 3]        [1, 2]           0                   0    True
Test 5:  [1, 2, 3, 5]  [5, 3, 1, 2]           4                   4    True

You passed 5 of the 5 tests.
The solution is correct

In [30]:
print(eb[9])

Given a list of unique numbers, write a function to return the position
index of the smallest number. For example, if the given list is [3, 1, 5, 0,
2, 6], then the returned index is 3, because the smallest number 0 appears
at position 3.

               Input1: list Output: int
Test 1:     [0, 1, 3, 2, 5]           0
Test 2:  [3, 2, 5, 1, 4, 0]           5
Test 3:     [1, 2, 0, 3, 5]           2

Minimum Number Index: Medium

In [31]:
def smallest(list_num):
  
  # Returns the position index of the smallest number
  value = list_num.index(min(list_num))
  
  return value

print(smallest([0, 1, 3, 2, 5]))
print(smallest([3, 2, 5, 1, 4, 0]))
print(smallest([1, 2, 0, 3, 5]))

0
5
2

In [32]:
eb[9].check(smallest, cheat=True)

              Input 1: list Your output Correct output: int Correct
Test 1:     [0, 1, 3, 2, 5]           0                   0    True
Test 2:  [3, 2, 5, 1, 4, 0]           5                   5    True
Test 3:     [1, 2, 0, 3, 5]           2                   2    True
Test 4:  [2, 1, 5, 6, 7, 3]           1                   1    True
Test 5:     [3, 2, 1, 5, 7]           2                   2    True

You passed 5 of the 5 tests.
The solution is correct

In [33]:
print(eb[10])

Given a list of numbers as the first input argument, and an integer k as
the second argument, write a function that returns a list of the k smallest
numbers of the list. Items in the returned list is ranked from the smallest
to the largest. For example, if the list is [0, 1, 2, 3, 2, 5], and the
integer is k=3, then the returned list is [0, 1, 2]. If k is larger than
the length of the list, then return the whole list.

               Input1: list Input2: int        Output: list
Test 1:  [0, 1, 2, 3, 2, 5]           3           [0, 1, 2]
Test 2:  [0, 1, 2, 3, 2, 5]           1                 [0]
Test 3:  [0, 1, 2, 3, 2, 5]           8  [0, 1, 2, 2, 3, 5]

K Smallest: Medium

In [34]:
def return_values(list_num, value):
  
  # Declares an empty array
  new_list = []
  
  # Finds the position range to return the new list
  if value > len(list_num):
    new_list = list_num
  else:
    for i in list_num:
      if i < value:
        new_list.append(i)
      else:
        break
  
  # Sort the list in an ascending order
  new_list.sort()
  
  return new_list

print(return_values([0, 1, 2, 3, 2, 5], 3))
print(return_values([0, 1, 2, 3, 2, 5], 1))
print(return_values([0, 1, 2, 3, 2, 5], 8))

[0, 1, 2]
[0]
[0, 1, 2, 2, 3, 5]

In [35]:
eb[10].check(return_values, cheat=True)

                       Input 1: list Input 2: int  ... Correct output: list Correct
Test 1:           [0, 1, 2, 3, 2, 5]            3  ...            [0, 1, 2]    True
Test 2:           [0, 1, 2, 3, 2, 5]            1  ...                  [0]    True
Test 3:           [0, 1, 2, 3, 2, 5]            8  ...   [0, 1, 2, 2, 3, 5]    True
Test 4:  [8, 7, 6, 5, 5, 4, 3, 3, 2]            5  ...      [2, 3, 3, 4, 5]   False
Test 5:  [8, 7, 6, 5, 5, 4, 3, 3, 2]            3  ...            [2, 3, 3]   False
Test 6:                          [1]            1  ...                  [1]   False
Test 7:                          [1]            5  ...                  [1]    True
Test 8:                       [1, 2]            0  ...                   []    True
Test 9:                           []            2  ...                   []    True

[9 rows x 5 columns]

You passed 6 of the 9 tests.
The solution is incorrect

In [36]:
print(eb[11])

Write a function to find the longest common prefix string amongst a list of
strings. For example, the input argument is ["flower", "flow", "flight"],
the output is "fl". If there is no common prefix among the input strings,
the output is an empty string.

                                   Input1: list Output: str
Test 1:            ['flower', 'flow', 'flight']          fl
Test 2:  ['flower', 'flow', 'flight', 'inflow']

Common Prefix: Hard

In [37]:
def longest_prefix(list_string):
  
  # First, declare the first element of list_string to current
  # and declare a variable to hold the prefixes
  current = list_string[0]
  prefix = ""
  
  # Loop through the first element
  # Compare with the other elements in the list 
  # and compare the words to find if there are any similar prefixes
  # Append to the prefix variable if there are any else prefix = ""
  for i in range(len(current)):
    if list_string[len(list_string) - 1][i] == current[i]:
      prefix += list_string[len(list_string) - 1][i]

  return prefix

print(longest_prefix(['flower', 'flow', 'flight']))
print(longest_prefix(['flower', 'flow', 'flight', 'inflow']))

fl

In [38]:
eb[11].check(longest_prefix, cheat=True)

                                            Input 1: list  ... Correct
Test 1:                      ['flower', 'flow', 'flight']  ...    True
Test 2:  ['coldplay', 'cold storage', 'cold', 'cold war']  ...   False
Test 3:                         ['dog', 'racecar', 'car']  ...    True
Test 4:            ['flower', 'flow', 'flight', 'inflow']  ...    True

[4 rows x 4 columns]

You passed 3 of the 4 tests.
The solution is incorrect

In [39]:
print(eb[12])

Write a function to find the Nth number in the Fibonacci Sequence, In the
Fibonacci Sequence, the next number is the sum of the two numbers before it,
i.e. 0, 1, 1, 2, 3, 5, 8, 13, 21, 34, ... For example, if N=0, then the
output is 0; if N=1 or N=2, then the output is 1; if N=3, then the output is
2; if N=4, then the output is 3.

        Input1: int            Output: int
Test 1:           4                      3
Test 2:          20                   6765
Test 3:         100  354224848179261915075

Fibonacci: Medium

In [40]:
def fibonacci_seq(value):
  
  # Declare the first 2 variables with starting values: 0 and 1
  a = 0
  b = 1

  # Loop through and perform the fibonacci sequence
  # Return a
  for i in range(value):
    a, b = b, a + b
  
  return a

print(fibonacci_seq(4))
print(fibonacci_seq(20))
print(fibonacci_seq(100))

3
6765
354224848179261915075

In [41]:
eb[12].check(fibonacci_seq, cheat=True)

         Input 1: int  ... Correct
Test 1:             0  ...    True
Test 2:             1  ...    True
Test 3:             2  ...    True
Test 4:             3  ...    True
Test 5:             4  ...    True
Test 6:            15  ...    True
Test 7:            20  ...    True
Test 8:            50  ...    True
Test 9:            80  ...    True
Test 10:          100  ...    True
Test 11:          200  ...    True

[11 rows x 4 columns]

You passed 11 of the 11 tests.
The solution is correct

In [42]:
print(eb[13])

Create a function to transform the time data as a string of "XX:XX:XXam" or
"XX:XX:XXpm" to the number of seconds counted from 12:00am. For example, the
input of "10:35:29am" gives an output of 38129; the input of 06:21:33pm gives
an output of 66093.

        Input1: str Output: int
Test 1:  10:35:29am       38129
Test 2:  06:21:33pm       66093

Time Conversiont: Easy

In [43]:
def time_value(time_data):
  
  # Declare a variable to hold the hour minute and second as a list
  # Declare a variable to hold the total seconds when converted
  time_data_array = time_data[:-2].split(":")
  time = 0
  
  # Check to see if the time is in am or pm (+12 to hour)
  # Convert the time accordingly
  if time_data[-2:] == "am":
    time = int(time_data_array[0]) * 3600 + int(time_data_array[1]) * 60 + int(time_data_array[-1])
  elif time_data[-2:] == "pm":
    time = (int(time_data_array[0]) + 12) * 3600 + int(time_data_array[1]) * 60 + int(time_data_array[-1])

  return time

print(time_value("10:35:29am"))
print(time_value("06:21:33pm"))

38129
66093

In [44]:
eb[13].check(time_value, cheat=True)

        Input 1: str Your output Correct output: int Correct
Test 1:   10:35:29am       38129               38129    True
Test 2:   06:21:33pm       66093               66093    True
Test 3:   03:11:12am       11472               11472    True
Test 4:   09:45:01pm       78301               78301    True

You passed 4 of the 4 tests.
The solution is correct

In [45]:
print(eb[14])

Reverse the digits of an integer. For example, if the input is 123, then the
output is 321; if the input is -456, then the output is -654.

        Input1: int Output: int
Test 1:         123         321
Test 2:        -456        -654

Reverse Digits: Easy

In [110]:
def reverse_digits(value):
  
  # Declare an empty variable
  # Extract the minus sign out of the negative integers
  reverse_value = 0
  new_value = str(value)[1:]
  
  # Check if there are negative integers
  # Assign the value after int(concatenating the "-" with the reverse numbers)
  if str(value)[0] == "-":
    reverse_value = int("-" + new_value[::-1])
  # Else just reverse the int(value as per normal)
  else:
    reverse_value = int(str(value)[::-1])
  
  return reverse_value

print(reverse_digits(123))
print(reverse_digits(-456))

321
-654

In [111]:
eb[14].check(reverse_digits, cheat=True)

        Input 1: int Your output Correct output: int Correct
Test 1:          123         321                 321    True
Test 2:         -456        -654                -654    True
Test 3:          392         293                 293    True
Test 4:       -14567      -76541              -76541    True
Test 5:           -2          -2                  -2    True
Test 6:            1           1                   1    True

You passed 6 of the 6 tests.
The solution is correct

In [48]:
print(eb[15])

Create a function to remove all duplicates in a list, so that the output is a
list containing the unique values of the original list. For example, if the
input list is [2, 3, 5, 2, 3, 4, 7], then the output must be [2, 3, 5, 4, 7].

                                Input1: list             Output: list
Test 1:                [2, 3, 5, 2, 3, 4, 7]          [2, 3, 5, 4, 7]
Test 2:  [3.5, '4', '4', True, False, False]  [3.5, '4', True, False]

Unique: Easy

In [112]:
def remove_duplicates(list_value):
  
  # Declares an empty array
  new_list = []
  
  # Loop through list_value
  # Check if it's not in new_list
  # Append if true
  for i in list_value:
    if i not in new_list:
      new_list.append(i)
  
  return new_list

print(remove_duplicates([2, 3, 5, 2, 3, 4, 7]))
print(remove_duplicates([3.5, '4', '4', True, False, False]))

[2, 3, 5, 4, 7]
[3.5, '4', True, False]

In [50]:
eb[15].check(remove_duplicates, cheat=True)

                                             Input 1: list  ... Correct
Test 1:                              [2, 3, 5, 2, 3, 4, 7]  ...    True
Test 2:                [3.5, '4', '4', True, False, False]  ...    True
Test 3:  [1.2, 3.5, 3.5, 2.4, 3.5, True, False, 0.01, 3...  ...    True

[3 rows x 4 columns]

You passed 3 of the 3 tests.
The solution is correct

In [51]:
print(eb[16])

Create a function with the input argument to be a string. The output is the
longest word in the string. For example, the input is a string "NUS Business
School is a magical place", then the output is the string "Business". If
there are two or more words with the same maximum length, then return the
first one.

                                    Input1: str Output: str
Test 1:  NUS Business School is a magical place    Business
Test 2:           Simple is better than complex     complex

Longest Word: Medium

In [52]:
def longest_string(sentence):
  
  # Split up the words in the sentence and assign them into an array sentence
  # Declare a variable to hold the current length and a variable to hold the longest text
  sentence = sentence.split()
  current = 0
  text = ""
  
  # Loop through the length of the array
  # Check if the current length is smaller than the length of the element at the current position index
  # Assign it to current if true and assign the value to text
  for i in range(len(sentence)):
    if current < len(sentence[i]):
      current = len(sentence[i])
      text = sentence[i]
  
  return text

print(longest_string("NUS Business School is a magical place"))
print(longest_string("Simple is better than complex"))

Business
complex

In [53]:
eb[16].check(longest_string, cheat=True)

                                     Input 1: str  ... Correct
Test 1:    NUS Business School is a magical place  ...    True
Test 2:        Take a sad song and make it better  ...    True
Test 3:            We are the champions my friend  ...    True
Test 4:                        Manners maketh man  ...    True
Test 5:  All models are wrong but some are useful  ...    True
Test 6:             Simple is better than complex  ...    True

[6 rows x 4 columns]

You passed 6 of the 6 tests.
The solution is correct

In [54]:
print(eb[17])

Create a function to return the length of the last word in a string. For
example, if the input is "NUS Business School is a magical place", then the
output is 5, the length of the last word "place".

                                    Input1: str Output: int
Test 1:  NUS Business School is a magical place           5
Test 2:      Take a sad song and make it better           6

Last Word: Easy

In [55]:
def last_word(text):
  
  # Split up the words in the sentence and assign them into an array text
  # Obtain the last word by using the position index: -1
  text = text.split()
  count = len(text[-1])
  
  return count

print(last_word("NUS Business School is a magical place"))
print(last_word("Take a sad song and make it better"))

5
6

In [56]:
eb[17].check(last_word, cheat=True)

                                     Input 1: str  ... Correct
Test 1:    NUS Business School is a magical place  ...    True
Test 2:        Take a sad song and make it better  ...    True
Test 3:            We are the champions my friend  ...    True
Test 4:                        Manners maketh man  ...    True
Test 5:  All models are wrong but some are useful  ...    True
Test 6:             Simple is better than complex  ...    True

[6 rows x 4 columns]

You passed 6 of the 6 tests.
The solution is correct

In [57]:
print(eb[18])

Create a function to convert a list of scores to grades. Grade "A" accounts
for scores no lower than 90; grade "B" accounts for scores between 80 to 89;
and grade "C" accounts for scores between 70 and 79; scores lower than 70
are recorded as "D". For example, if the input is [85.5, 92, 45, 74, 79],
then the output is ["B", "A", "D", "C", "C"].

                   Input1: list               Output: list
Test 1:  [85.5, 92, 45, 74, 79]  ['B', 'A', 'D', 'C', 'C']

Grade: Easy

In [58]:
def grade_converter(grade_list):
  
  # Converts all the elements in grade_list into floating types
  grade_list = [float(a) for a in grade_list]
  
  # Loop through the length of grade_list
  # Compare to see if the marks fit any category
  # Carefully assign the correct grade for the marks obtained
  for i in range(len(grade_list)):
    if grade_list[i] >= 90.0:
      grade_list[i] = "A"
    elif grade_list[i] >= 80.0 and grade_list[i] < 90.0:
      grade_list[i] = "B"
    elif grade_list[i] >= 70.0 and grade_list[i] < 80.0:
      grade_list[i] = "C"
    else:
      grade_list[i] = "D"
  
  return grade_list

print(grade_converter([85.5, 92, 45, 74, 79]))

['B', 'A', 'D', 'C', 'C']

In [59]:
eb[18].check(grade_converter, cheat=True)

                    Input 1: list  ... Correct
Test 1:    [85.5, 92, 45, 74, 79]  ...    True
Test 2:  [25, 26, 55, 70, 80, 99]  ...    True
Test 3:             [100, 95, 85]  ...    True

[3 rows x 4 columns]

You passed 3 of the 3 tests.
The solution is correct

In [60]:
print(eb[19])

Create a function to grade bubble cards. The first input argument is list of
answers to be graded, and the second input argument is a list of correct
answers. The function compares these two lists, and returns the proportion
of answers to be correct. For example, if the inputs are ["A", "C", "B", "D",
"A", "D"] and ["A", "B", "C", "D", "D", "D"], then the output is 0.5 because
half of the values are the same in these two lists.

                           Input1: list  ... Output: float
Test 1:  ['A', 'C', 'B', 'D', 'A', 'D']  ...           0.5
Test 2:  ['A', 'B', 'C', 'D', 'D', 'D']  ...           1.0

[2 rows x 3 columns]

Bubble Card: Easy

In [61]:
def bubble_cards(list1, list2):
  
  # Declare a variable to hold the number of correct
  # and a variable to hold the total number of answers
  correct = 0
  total = len(list2)
  
  # Loop through the two lists
  # Check if the two elements at the same position are correct
  # Increment the variable correct if True
  # Get the ratio output = correct / total
  for i, j in zip(list1, list2):
    if i == j:
      correct += 1
  output = correct / total
  
  return output

print(bubble_cards(['A', 'C', 'B', 'D', 'A', 'D'], ['A', 'B', 'C', 'D', 'D', 'D']))
print(bubble_cards(['A', 'B', 'C', 'D', 'D', 'D'], ['A', 'B', 'C', 'D', 'D', 'D']))

0.5
1.0

In [62]:
eb[19].check(bubble_cards, cheat=True)

                          Input 1: list  ... Correct
Test 1:  ['A', 'C', 'B', 'D', 'A', 'D']  ...    True
Test 2:  ['A', 'B', 'C', 'D', 'D', 'D']  ...    True
Test 3:  ['C', 'B', 'B', 'C', 'B', 'D']  ...    True
Test 4:                 ['C', 'B', 'A']  ...    True

[4 rows x 5 columns]

You passed 4 of the 4 tests.
The solution is correct

In [63]:
print(eb[20])

For a sequence of numbers in a list, create a new list containing the
squares of all non-negative numbers, and cubes of all negative numbers.
For example, if the input is [1, 2, 3, -4, -5, 6], then the output is
[1, 4, 9, -64, -125, 36]. As a practice, please use list comprehension.

                 Input1: list              Output: list
Test 1:  [1, 2, 3, -4, -5, 6]  [1, 4, 9, -64, -125, 36]

Squares And Cubes: Easy

In [64]:
def squares_cubes(list_value):
  
  # Converts all the elements in string_list into string types
  string_list = [str(i) for i in list_value]
  
  # Loop through the length of string_list
  # Check if the first index of position element = "-"
  # Power if it's a positive ineteger
  # Else cube if it's a negative integer
  for i in range(len(string_list)):
    if string_list[i][0] != "-":
      string_list[i] = pow(int(string_list[i]), 2)
    else:
      string_list[i] = int("-" + str(pow(int(string_list[i][1:]), 3)))
  
  return string_list

squares_cubes([1, 2, 3, -4, -5, 6])

[1, 4, 9, -64, -125, 36]

In [65]:
print(eb[21])

Create a function to present the unique values in a given list and the number
of their appearances. The output of the function is a dictionary where the
keys are the unique values, and the associated values are the number of their
appearances. For example, if the inputs are ["A", "C", "B", "D", "A", "D"]
then the output is {"A": 2, "C": 1, "B": 1, "D": 2}.

                           Input1: list                      Output: dict
Test 1:  ['A', 'C', 'B', 'D', 'A', 'D']  {'A': 2, 'C': 1, 'B': 1, 'D': 2}

Value Counts: Medium

In [66]:
def list_dictionary(list_value):
  
  # Declares an array and assigns the number of counts of each character as a key-value pair
  dictionary_list = {i: list_value.count(i) for i in list_value}
  
  return dictionary_list

print(list_dictionary(['A', 'C', 'B', 'D', 'A', 'D']))

{'A': 2, 'C': 1, 'B': 1, 'D': 2}

In [67]:
eb[21].check(list_dictionary, cheat=True)

                                             Input 1: list  ... Correct
Test 1:                     ['A', 'C', 'B', 'D', 'A', 'D']  ...    True
Test 2:  [1, 2, 2, 5, 3, 1, 2, 5, 4, 2, 4, 8, '1', '2',...  ...    True
Test 3:    [1.2, 3.5, '2.4', 'B', 'B', 1.2, 1.2, 'B', 3.5]  ...    True

[3 rows x 4 columns]

You passed 3 of the 3 tests.
The solution is correct

In [68]:
print(eb[22])

Write a function to sort a list from the smallest value to the largest value.
For example, if the input is [3.5, 2.1, 2.1, 3.4, 2.8, 1.2], the output is
[1.2, 2.1, 2.1, 2.8, 3.4, 3.5]. As a practice, do not use the build-in
function sort.

                                Input1: list                         Output: list
Test 1:  [3.5, 2.1, 2.2, 1.6, 0.8, 3.9, 2.5]  [0.8, 1.6, 2.1, 2.2, 2.5, 3.5, 3.9]

Sort: Hard

In [69]:
def sort_values(list_value):
  
  for i in range(len(list_value)):
    switch = False
    
    for j in range(0, len(list_value) - i - 1):
      if list_value[j] > list_value[j + 1]:
        temp = list_value[j]
        list_value[j] = list_value[j + 1]
        list_value[j + 1] = temp
        switch = True
    
    if not switch:
      break

  return list_value

print(sort_values([3.5, 2.1, 2.2, 1.6, 0.8, 3.9, 2.5]))

[0.8, 1.6, 2.1, 2.2, 2.5, 3.5, 3.9]

In [70]:
eb[22].check(sort_values, cheat=True)

                               Input 1: list  ... Correct
Test 1:  [3.5, 2.1, 2.2, 1.6, 0.8, 3.9, 2.5]  ...    True
Test 2:       [3.5, 2.1, 2.1, 3.4, 2.8, 1.2]  ...    True
Test 3:  [3.5, 2.1, 2.1, 3.4, 2.8, 3.4, 1.2]  ...    True

[3 rows x 4 columns]

You passed 3 of the 3 tests.
The solution is correct

In [71]:
print(eb[23])

Write a function with one argument n, to return the nth row of the Pascal's
triangle. For example, if n=1, the output is [1]; if n=2, then the output is
[1, 1]; if n=3, then the output is [1, 2, 1]; if n=4, then the output is [1,
3, 3, 1].

        Input1: int                            Output: list
Test 1:           3                               [1, 2, 1]
Test 2:           5                         [1, 4, 6, 4, 1]
Test 3:          10  [1, 9, 36, 84, 126, 126, 84, 36, 9, 1]

Pascal Triangle: Hard

In [72]:
def pascal(value):
  
  pascal_triangle = []
  current_row = []
  previous_row = []
  
  for i in range(0, value + 1):
    current_row = [j > 0 and j < i - 1 and i > 2 and previous_row[j-1] + previous_row[j] or 1 for j in range(0, i)]
    previous_row = current_row
    pascal_triangle += [current_row]
  
  return pascal_triangle[-1]

print(pascal(3))
print(pascal(5))
print(pascal(10))

[1, 2, 1]
[1, 4, 6, 4, 1]
[1, 9, 36, 84, 126, 126, 84, 36, 9, 1]

In [73]:
eb[23].check(pascal, cheat=True)

        Input 1: int  ... Correct
Test 1:            1  ...    True
Test 2:            2  ...    True
Test 3:            3  ...    True
Test 4:            4  ...    True
Test 5:            5  ...    True
Test 6:            8  ...    True
Test 7:           10  ...    True
Test 8:           11  ...    True

[8 rows x 4 columns]

You passed 8 of the 8 tests.
The solution is correct

In [74]:
print(eb[24])

There are n stairs, a person standing at the bottom wants to reach the top
of the stairs. This person can climb either 1 stair or 2 stairs at a time.
Write a function with the input argument n to count the number of ways, the
person can reach the top. For example, if n = 2, this person has 2 ways to
getto the top; if n = 3, this person has 3 ways to get to the top; if n = 4,
this person has 5 ways to get to the top.

        Input1: int Output: int
Test 1:           2           2
Test 2:           5           8
Test 3:          11         144

Stairs: Hard

In [75]:
def stairs_climb(number):
  
  a = 1
  b = 2

  if number == a:
    output = a
  elif number == b:
    output = b
  else:
    for i in range(number - 2):
      a, b = b, a + b
    output = b

  return output

print(stairs_climb(2))
print(stairs_climb(5))
print(stairs_climb(11))

2
8
144

In [76]:
eb[24].check(stairs_climb, cheat=True)

        Input 1: int Your output Correct output: int Correct
Test 1:            1           1                   1    True
Test 2:            2           2                   2    True
Test 3:            3           3                   3    True
Test 4:            4           5                   5    True
Test 5:            5           8                   8    True
Test 6:            8          34                  34    True
Test 7:           10          89                  89    True
Test 8:           11         144                 144    True
Test 9:           14         610                 610    True

You passed 9 of the 9 tests.
The solution is correct

In [77]:
print(eb[25])

Given positive integers n and m as input arguments, write a function to
select all positive integers that are no larger than n and the summations
of all digits are the same as m. Return these selected integers as a list.
For example, if n = 30 and m = 5, the returned output is [5, 14, 23], if
n = 50 and m = 9, then returned output is [9, 18, 27, 36, 45]

        Input1: int Input2: int         Output: list
Test 1:          30           5          [5, 14, 23]
Test 2:          50           9  [9, 18, 27, 36, 45]

Digit Sum: Medium

In [78]:
def summations(limit, value):
  
  output = []
  string_list = [str(i) for i in range(limit)]
  
  for j in string_list:
    if len(j) == 1:
      if int(j) == value:
        output.append(int(j))
    if int(j[0]) + int(j[-1]) == value:
      output.append(int(j))
  
  return output

print(summations(30, 5))
print(summations(50, 9))

[5, 14, 23]
[9, 18, 27, 36, 45]

In [79]:
eb[25].check(summations, cheat=True)

        Input 1: int  ... Correct
Test 1:           30  ...    True
Test 2:           50  ...    True
Test 3:          100  ...   False
Test 4:          200  ...   False

[4 rows x 5 columns]

You passed 2 of the 4 tests.
The solution is incorrect

In [80]:
print(eb[26])

Given a list of numbers as the input argument, write a function to return
a list of numbers that only appear once in the list. For example, if the
input is [1, 2, 1, 4, 3, 2, 0], then the  output is [4, 3, 0]; if the input
is [1.5, 2, 2.0, 3.5, 1.5, 2], then the output is [3.5].

                       Input1: list Output: list
Test 1:       [1, 2, 1, 4, 3, 2, 0]    [4, 3, 0]
Test 2:  [1.5, 2, 2.0, 3.5, 1.5, 2]        [3.5]

One Appearance: Medium

In [81]:
def appearance(list_value):
  
  once = []
  
  for i in list_value:
    if list_value.count(i) == 1:
      once.append(i)
  
  return once

print(appearance([1, 2, 1, 4, 3, 2, 0]))
print(appearance([1.5, 2, 2.0, 3.5, 1.5, 2]))

[4, 3, 0]
[3.5]

In [82]:
eb[26].check(appearance, cheat=True)

                      Input 1: list Your output Correct output: list Correct
Test 1:       [1, 2, 1, 4, 3, 2, 0]   [4, 3, 0]            [4, 3, 0]    True
Test 2:  [1.5, 2, 2.0, 3.5, 1.5, 2]       [3.5]                [3.5]    True
Test 3:     [2.5, 3, 3.0, 2.5, 2.5]          []                   []    True

You passed 3 of the 3 tests.
The solution is correct

In [83]:
print(eb[27])

Given two strings as the input arguments, write a function to return the
longest substring shared by these two input strings. For example, if the
inputs are "cdbabcde" and "babcffg", then the output is "abc"; if the
inputs are "This is an apple" and "Check the app store", then the output
is "app".

              Input1: str          Input2: str Output: str
Test 1:          cdeabcde              babcffg         abc
Test 2:  This is an apple  Check the app store         app

Longest Substring: Hard

In [84]:
def longest_substring(text1, text2):
  longest_substring = ""
  count1, count2 = len(text1), len(text2)
  for i in range(count1):
      for j in range(count2):
          temp = 0
          same = ''
          while ((i + temp < count1) and (j + temp <count2) and text1[i + temp] == text2[j + temp]):
              same += text2[j+temp]
              temp += 1
          if (len(same) > len(longest_substring)):
              longest_substring = same
  return longest_substring

print(longest_substring("cdeabcde", "babcffg"))
print(longest_substring("This is an apple", "Check the app store"))

abc
 app

In [85]:
eb[27].check(longest_substring, cheat=True)

             Input 1: str         Input 2: str  ... Correct output: str Correct
Test 1:          cdeabcde              babcffg  ...                 abc    True
Test 2:  This is an apple  Check the app store  ...                 app    True
Test 3:               DAO                 2702  ...                        True

[3 rows x 5 columns]

You passed 3 of the 3 tests.
The solution is correct

In [86]:
print(eb[28])

Given a string containing different types of parentheses, write a function
to check if these parentheses matches. For example, if the input is "(this
is {a test})", the output is True; if the input is "(this is {a test)}",
then the output is False.

                Input1: str Output: bool
Test 1:  (this is {a test})         True
Test 2:  (this is {a test)}        False

Match Parentheses:  Very Hard

In [87]:
def parentheses(text):
  
  open_parentheses = tuple('({')
  close_parentheses = tuple(')}')
  map = dict(zip(open_parentheses, close_parentheses))
  array_list = []

  for i in text:
    if i in open_parentheses:
      array_list.append(map[i])
    elif i in close_parentheses:
      if not array_list or i != array_list.pop():
        return False
  
  if not array_list:
    return True
  else:
    return False

print(parentheses("(this is {a test})"))
print(parentheses("(this is {a test)}"))

True
False

In [88]:
eb[28].check(parentheses, cheat=True)

                 Input 1: str Your output Correct output: bool Correct
Test 1:    (this is {a test})        True                 True    True
Test 2:    (this is {a test)}       False                False    True
Test 3:    (this is )a {test}        True                 True    True
Test 4:  (this [is] a {test}        False                False    True
Test 5:   (this [is a {test})        True                False   False
Test 6:   this (is {a }) test        True                 True    True
Test 7:    this [is {a}} test       False                False    True
Test 8:        this is a test        True                 True    True
Test 9:       this )is a test       False                False    True

You passed 8 of the 9 tests.
The solution is incorrect

In [89]:
print(eb[29])

Given a list of numbers as the input argument, write a function to move all
zeros to the end of the list, while the order of the other numbers remain
the same. For example, if the input is [0, 1, 0, 3, 12], then the output is
[1, 3, 12, 0, 0].

                    Input1: list             Output: list
Test 1:         [0, 1, 0, 3, 12]         [1, 3, 12, 0, 0]
Test 2:  [-4, -2, 1, 0, 0, 2, 0]  [-4, -2, 1, 2, 0, 0, 0]

Move Zeros: Easy

In [90]:
def move_zeros(list_value):
  
  number = 0
  number += list_value.count(0)
  
  for i in range(number):
    list_value.remove(0)
    list_value.append(0)

  return list_value

print(move_zeros([0, 1, 0, 3, 12]))
print(move_zeros([-4, -2, 1, 0, 0, 2, 0]))

[1, 3, 12, 0, 0]
[-4, -2, 1, 2, 0, 0, 0]

In [91]:
eb[29].check(move_zeros, cheat=True)

                   Input 1: list  ... Correct
Test 1:         [0, 1, 0, 3, 12]  ...    True
Test 2:  [1, 0, 0, 2.5, 3, 0, 1]  ...    True
Test 3:  [-4, -2, 1, 0, 0, 2, 0]  ...    True
Test 4:                [2, 3, 5]  ...    True

[4 rows x 4 columns]

You passed 4 of the 4 tests.
The solution is correct

In [92]:
print(eb[30])

Given two lists of sorted numbers as the input arguments, write a function to
merge these two lists as one list, with all numbers sorted. For example, if
the inputs are [1, 2, 4] and [1, 3, 4], then the output is [1, 1, 2, 3, 4, 4].
As a practicce, do not use the built-in method sort.

        Input1: list Input2: list        Output: list
Test 1:    [1, 2, 4]    [1, 3, 4]  [1, 1, 2, 3, 4, 4]

Merge Lists: Easy

In [93]:
def merge_list(list1, list2):
  
  list1.extend(list2)
  
  for i in range(len(list1)):
    switch = False
    
    for j in range(0, len(list1) - i - 1):
      if list1[j] > list1[j + 1]:
        temp = list1[j]
        list1[j] = list1[j + 1]
        list1[j + 1] = temp
        switch = True
    
    if not switch:
      break

  return list1

print(merge_list([1, 2, 4], [1, 3, 4]))

[1, 1, 2, 3, 4, 4]

In [94]:
eb[30].check(merge_list, cheat=True)

                Input 1: list  ... Correct
Test 1:             [1, 2, 4]  ...    True
Test 2:    [0, 1, 1, 2, 5, 6]  ...    True
Test 3:  [-4, -2, 0, 0, 1, 2]  ...    True

[3 rows x 5 columns]

You passed 3 of the 3 tests.
The solution is correct

In [95]:
print(eb[31])

Given a list representing the prediction of stock prices in a number of days,
design a function to find the maximum profit. For example, if the input list
is [7, 1, 5, 3, 6, 4] then the profit is 4+3=7, because you can buy the stock
on day 2 (price=1) and sell it on day 3 (price=5) so the profit is 4, then you
can buy on day 4 (price=3) and sell it on day 5 (price=6) so the profit is 3.
Note that you can make the buy and sell transcations in the same day, but you
cannot buy the stock again before selling it, so if the given input list is
[1, 2, 3, 4, 5] then the output is 5-1=4, or (2-1)+(3-2)+(4-3)+(5-4)=4.

               Input1: list Output: int
Test 1:  [7, 1, 5, 3, 6, 4]           7
Test 2:     [1, 2, 3, 4, 5]           4
Test 3:     [7, 6, 4, 3, 1]           0

Trading Decisions: Hard

In [96]:
def max_profit(list_value):
  
  profit = 0
  
  for i in range(len(list_value) - 1):
    if list_value[i] < list_value[i + 1]:
      profit += list_value[i + 1] - list_value[i]
  
  return profit

print(max_profit([7, 1, 5, 3, 6, 4]))
print(max_profit([1, 2, 3, 4, 5]))
print(max_profit([7, 6, 4, 3, 1]))

7
4
0

In [97]:
eb[31].check(max_profit, cheat=True)

                    Input 1: list Your output Correct output: int Correct
Test 1:        [7, 1, 5, 3, 6, 4]           7                   7    True
Test 2:           [1, 2, 3, 4, 5]           4                   4    True
Test 3:           [7, 6, 4, 3, 1]           0                   0    True
Test 4:  [4, 2, 1, 2, 3, 9, 0, 2]          10                  10    True
Test 5:  [1, 2, 3, 2, 4, 5, 0, 1]           6                   6    True

You passed 5 of the 5 tests.
The solution is correct

In [98]:
print(eb[32])

At a lemonade stand, each lemonade costs $5. Customers are standing in a queue
to buy from you, and order one at a time. Each customer will only buy one
lemonade and pay with either a $5, $10, or $20 bill, and these payments are
kept in a listas the input argument. You must provide the correct change to
each customer, so that the net transaction is that the customer pays $5. Note
that you don't have any change in hand at first. Return True if and only if
you can provide every customer with the correct change, otherwise False. For
example, if the input is [5, 5, 5, 10, 20], then the output is Ture, because
we collected three $5 bills to pay back the subsequent customers. If the input
is [10, 10], then the output is False, because there is no way to pay back
the customers.

                  Input1: list Output: bool
Test 1:      [5, 5, 5, 10, 20]         True
Test 2:               [10, 10]        False
Test 3:  [5, 10, 20, 5, 5, 10]        False

Lemonade Stand: Hard

In [99]:
def lemonade(pay):
  
  balance = 0

  if pay[0] != 5:
    return False
  
  for i in range(len(pay)):
    if pay[i] == 5:
      balance += pay[i]
    if pay[i] > balance:
      if pay[i] - 5 > balance:
        return False
      balance += pay[i] - 5
  
  return True

print(lemonade([5, 5, 5, 10, 20]))
print(lemonade([10, 10]))
print(lemonade([5, 10, 20, 5, 5, 10]))

True
False
False

In [100]:
eb[32].check(lemonade, cheat=True)

                                  Input 1: list  ... Correct
Test 1:                       [5, 5, 5, 10, 20]  ...    True
Test 2:                                [10, 10]  ...    True
Test 3:                   [5, 10, 20, 5, 5, 10]  ...    True
Test 4:                   [5, 5, 10, 10, 5, 20]  ...    True
Test 5:                      [5, 5, 10, 10, 20]  ...    True
Test 6:  [5, 10, 5, 10, 5, 20, 5, 10, 5, 5, 20]  ...    True
Test 7:  [5, 10, 5, 10, 5, 20, 5, 20, 5, 5, 20]  ...   False

[7 rows x 4 columns]

You passed 6 of the 7 tests.
The solution is incorrect

In [101]:
print(eb[33])

An array is monotonic if it is either monotone increasing or monotone
decreasing. A list a is monotone increasing if for all i <= j, a[i] <= a[j].
A list a is monotone decreasing if for all i <= j, a[i] >= a[j]. Write a
function to return Trueif and only if the given input list is monotonic. For
example, if the input is [1,2,2,3], then the output is True. If the input is
[1,3,2], then the output is False.

         Input1: list Output: bool
Test 1:  [1, 2, 2, 3]         True
Test 2:  [6, 5, 4, 4]         True
Test 3:     [1, 3, 2]        False

Monotnoe Trend: Medium

In [102]:
def monotone(list_value):
  
  return (all(list_value[i] <= list_value[i + 1] for i in range(len(list_value) - 1)) 
  or all(list_value[i] >= list_value[i + 1] for i in range(len(list_value) - 1)))

print(monotone([1, 2, 2, 3]))
print(monotone([6, 5, 4, 4]))
print(monotone([1, 3, 2]))

True
True
False

In [103]:
eb[33].check(monotone, cheat=True)

                    Input 1: list Your output Correct output: bool Correct
Test 1:              [1, 2, 2, 3]        True                 True    True
Test 2:              [6, 5, 4, 4]        True                 True    True
Test 3:           [2, 3, 2, 4, 5]       False                False    True
Test 4:                 [1, 3, 2]       False                False    True
Test 5:              [1, 2, 4, 5]        True                 True    True
Test 6:                 [1, 1, 1]        True                 True    True
Test 7:        [1, 1, 1, 2, 3, 7]        True                 True    True
Test 8:  [1, 2, 2, 2, 3, 3, 3, 2]       False                False    True

You passed 8 of the 8 tests.
The solution is correct

In [104]:
print(eb[34])

Given a nested list of integers, implement an iterator to flatten it. Each
element is either an integer, or a list -- whose elements may also be integers
or other lists. For example, if the input is [[1,1],2,[1,1]], then the output
is [1, 1, 2, 1, 1]. If the input is [1,[4,[6]]], then the output is [1, 4, 6].

                Input1: list     Output: list
Test 1:  [[1, 1], 2, [1, 1]]  [1, 1, 2, 1, 1]
Test 2:        [1, [4, [6]]]        [1, 4, 6]

Flatten Lists: Hard

In [105]:
!pip install iteration_utilities

Requirement already satisfied: iteration_utilities in /usr/local/lib/python3.7/dist-packages (0.11.0)

In [106]:
from iteration_utilities import deepflatten

In [107]:
def flattener(list_value):
  
  flattened_list = list(deepflatten(list_value))
  
  return flattened_list

print(flattener([[1, 1], 2, [1, 1]]))
print(flattener([1, [4, [6]]]))

[1, 1, 2, 1, 1]
[1, 4, 6]

In [108]:
eb[34].check(flattener, cheat=True)

                          Input 1: list  ... Correct
Test 1:             [[1, 1], 2, [1, 1]]  ...    True
Test 2:                   [1, [4, [6]]]  ...    True
Test 3:  [[1], [2, [3], None], [[[4]]]]  ...    True

[3 rows x 4 columns]

You passed 3 of the 3 tests.
The solution is correct

In [109]:
print(eb[35])

Given a list of daily temperatures T, return a list such that, for each day
in the input, tells you how many days you would have to wait until a warmer
temperature. If there is no future day for which this is possible, put 0
instead. For example, given the list of temperatures T = [73, 74, 75, 71,
69, 72, 76, 73], your output should be [1, 1, 4, 2, 1, 1, 0, 0].

                             Input1: list              Output: list
Test 1:  [73, 74, 75, 71, 69, 72, 76, 73]  [1, 1, 4, 2, 1, 1, 0, 0]

Warmer Temperature: Medium